.searcher-panel {
  min-height: 300px;
  background-color: $main-red;
  display: flex;
  text-align: center;
  align-items: center;

  h1 {
    font-size: 40px;
    color: #ffffff;
    margin: 40px 0 20px 0;
  }

  input {
    font-size: 28px;
    width: 100%;
    max-width: 800px;
    height: 36px;
    box-shadow: $shadow-m;
    border-radius: 9999px;
  }

  button {
    display: block;
    text-decoration: underline;
    color: $main-red-d;
    margin: 10px auto;
    padding: 10px 0;
    &:hover {
      color: #fff;
    }
  }
  .advanced-setting-panel {
    transform: translateY(-100%);
    transition: all .2s ease-in;
    opacity: 0;
    pointer-events: none;
    color: #fff;
    &.active {
      opacity: 1;
      transform: translateY(0%);
      pointer-events: auto;
    }
    .lang-setting {
      display: flex;
      justify-content: space-between;
    }
    ul {
      width: 200px;
      position: relative;
      text-align: right;
      cursor: pointer;
      .lang-list {
        position: absolute;
        top: 20px;
        right: 0;
        height: 100px;
        width: 200px;
        display: none;
        background: #fff;
        overflow-y: scroll;
        overflow-x: hidden;
        text-align: right;
        color: #000000;
        box-shadow: $shadow-l;
        border-radius: 2px;
        &.active {
          display: block;
        }
      }
    }
    .sort-setting {
      display: grid;
      grid-template-columns: 1fr repeat(4, auto);
      grid-gap: 10px;
      align-items: center;
      justify-items: start;
    }
  }
}