/*========color========*/
$main-red: #E9573F;
$main-red-d: rgb(176, 53, 34);
$main-red-l: rgb(245, 40, 8);
$light-gray:  rgb(155, 155, 155);

/*========shadow========*/
$shadow-l: 0 2px 4px 0 rgba(0,0,0,0.10);
$shadow-m: 0 4px 8px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.08);

/*========fontweight========*/
$fw-t: 300;
$fw-n: 400;
$fw-b: 700;

/*========distance========*/
$lg-width: 1170px;
